## Code Practice #1
### Name: Yushi Wu (yw2122)

### Question 1: 
Describe and explain what each of these expressions produces in basic Python:

In [18]:
2+5    # It is the addition of two numbers.

7

In [2]:
2 + 5    # Python will ignore spaces.

7

In [3]:
2*5    # It is the multiplication of two numbers.

10

In [4]:
2/5    # It is the division of two numbers.

0.4

In [5]:
2**5    # It is 2 to the power of 5.

32

### Question 2
What is the value of x after running these statements in order? Why?

In [6]:
x = 7
x = x + 3

In [7]:
x

10

x is first assigned the value of 7. Then x=x+3 means that now x is equal to the original x plus 3, which is 10.

### Question 3
What is the value of y after running these statements in order? Of x? Why?

In [8]:
x = 3 
y = x 
x = 10

In [9]:
y

3

In [10]:
x

10

x is first assigned the value of 3. Then y is assigned the value of x, which is 3. Finally, x is assigned the value of 10.

### Question 4
Does this code run without error? If so, what does it produce? If not, explain why.

In [12]:
x=3
x = x/2
y = 'abc'
z=y+y 
print(x, z)

1.5 abcabc

### Question 5
Does this code run without error? If so, what does it produce? If not, explain why.

In [14]:
x=3
x = x/2
y = 'abc' 
z=x+y 
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

There would be an error. We can not add a number and a string together. Addition doesn't work with two different types.

### Question 6
Does this code run without error? If so, what does it produce? If not, explain why.

In [15]:
x=3
y = 24
z=y/x
print(x, y, z, sep='|')

3|24|8.0

### Question 7
Does this code run without error? If so, what does it produce? If not, explain why.

In [16]:
x=3
y = '24' 
z=y/x 
print(x, z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

There would be error. We can not divide an int by a string. Division doesn't work with two different types.

### Question 8
Does this code run without error? If so, what does it produce? If not, explain why.

In [17]:
x = "I am a #string"  # Whoa, a string!

This code means that the variable x is a string "I am a #string". The latter part is a comment. This code returns nothing.

### Question 9
Does this code run without error? If so, what does it produce? If not, explain why.

In [18]:
x = [1, 2, 3] 
y = [42, 43] 
z=x+y 
print(z)

[1, 2, 3, 42, 43]

There is no error. What is does is adding two lists.

### Question 10
Does this code run without error? If so, what does it produce? If not, explain why.

In [19]:
x = [1, 2, 3] 
y = 42 
z=x+y

TypeError: can only concatenate list (not "int") to list

There would be an error. We can't add a list to an int. Addition doesn't work with two different types.

### Question 11
What “types” are

In [20]:
x1 = 12

It is an int.

In [21]:
x2 = 12.0

It is a float.

In [22]:
x3 = '12.0'

It is a string.

In [23]:
x4 = [12]

It is a list.

In [24]:
x5 = [12, 12.0, '12.0']

It is a list.

### Question 12

In [25]:
type(42)

int

In [26]:
type(42.0)

float

In [27]:
type('42.0')

str

In [28]:
type("42.0")

str

In [29]:
type("""42.0""")

str

In [30]:
type([1,2])

list

In [31]:
type([1]+[2])

list

In [32]:
type(1+2)

int

In [33]:
type(print)

builtin_function_or_method

### Question 13
Describe and explain the result of this statement:

In [36]:
type(float(str(int('1234'))))

float

First, int('1234') turns a str into an int 1234. Then, str() turns that int into a string '1234'. Then, float() turns that str into a float 1234.0. Finally, type() determines the type of the final result, which is a float.

### Question 14
Describe and explain the result of this statement:

In [38]:
 type(int(float('12.34')))

int

First, float('12.34') turns the str into a float 12.34. Then int() turns that float into an int. Finally, type() determines the type of the final result, which is an int.

### Question 15
Explain each line

In [40]:
len([1234])

1

The length of a list measures how many elements are in the list. In this case, 1.

In [41]:
len("1234")

4

The length of a string measures how many characters are in the string. in this case, 4.

In [42]:
len(1234)

TypeError: object of type 'int' has no len()

There is no length for an int.

### Question 16
What are the type and length of x = []?

In [43]:
x = []

In [44]:
type(x)

list

In [45]:
len(x)

0

The type of x = [] is list. The length is 0.

### Question 17
Convert the string x = ’abcde’ to a list. What does it look like?

In [46]:
x = 'abcde'
list(x)

['a', 'b', 'c', 'd', 'e']

### Question 18
Consider the integer x = 1234.
a. Convert x to a floating point number.
b. Convert x to a string.
c. Convert x to the list [’1’, ’2’, ’3’, ’4’]

In [47]:
x = 1234
float(x)

1234.0

In [48]:
x = 1234
str(x)

'1234'

In [50]:
x = 1234
list(str(x))

['1', '2', '3', '4']

### Question 19
How would you convert x to “title case” (first letter of each word capitalized)?
 x = "luke, i am your father"

In [9]:
x = "luke, i am your father"
x_new = ''
x_new += x[0].upper()
for i in range(1,len(x)):
    if x[i-1] == " ":
        u = x[i].upper()
        x_new += u
    else:
        x_new += x[i]
print(x_new)

Luke, I Am Your Father

### Question 20
Consider the string
x = "How many characters and words are in this string?"

a. How many characters does x contain?

In [10]:
x = "How many characters and words are in this string?"
len(x)

49

b. Convert x to a list of individual characters.

In [54]:
list(x)

['H',
 'o',
 'w',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 '?']

c. Convert x to a list of individual words.

In [13]:
x.split()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

d. How many words does x contain?

In [14]:
len(x.split())

9